body{
    background-image: url("Pozadina1.jpg");
}

.header, .footer{
    padding: 10px;
    background-color: skyblue;
}

.footer{
    margin-top: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.razmak{
    margin: 60px;
}

.row{
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-md-3, .col-md-4, .col-12{
    margin-top: 5px;
    margin-bottom: 5px;
}