{% extends 'Klijent/KlijentBaza.html' %}

{% block naslov %}Klijent - Grupni Treninzi{% endblock %}

{% block sadrzaj %}

    <div style="text-align: center;">
        <table class="table table-bordered table-hover tabela">
                <tr class="bg-bl">
                    <th>Vreme</th>
                    <th>Ponedeljak</th>
                    <th>Utorak</th>
                    <th>Sreda</th>
                    <th>Cetvrtak</th>
                    <th>Petak</th>
                </tr>
                <tr>
                    <td>8:00-10:00</td>
                    <td>Joga</td>
                    <td>Pilates</td>
                    <td></td>
                    <td>Trcanje</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12:00-14:00</td>
                    <td></td>
                    <td>Pilates</td>
                    <td>Joga</td>
                    <td>Trcanje</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15:00-17:00</td>
                    <td></td>
                    <td>Pilates</td>
                    <td></td>
                    <td>Trcanje</td>
                    <td>Pilates</td>
                </tr>
        </table>
    </div>
{% endblock %}