{% extends "administrator/admin_base.html" %}
{% load static %}
{% block header %}
    <div class="row header">
        <div class="col-sm-6" >
            <div><b>Administrator</b> </div>
        </div>
        <div class="col-sm-6" style="text-align: end">
            <a class="header" href="{% url "admin_inventory_view" %}">Back</a>&nbsp
            |&nbsp<a class="header" id="logout" href="{% url "logout_req" %}">Logout</a> <br>
        </div>
    </div>

{% endblock %}

{% block body %}
    <h1 class="naslov" style="text-align: center">{{ sprava.naziv }}</h1>
    <div class="opis-outer">
        <div class="opis">
        <p><i>{{ sprava.opis }}</i></p><hr>
        <b>Stanje:</b>&nbsp;
        {% if sprava.stanje %} radi
        {% else %} ne radi
        {% endif %}
        <br>
        <b>Datum nabavke:</b>&nbsp; {{ sprava.datumNabavke }}
        <br>
        <b>Količina:</b>&nbsp; {{ sprava.kolicina }}
        <br>
        </div>
        <button class="izmeni" onclick="window.location = '{% url "admin_sprava_change" sprava_id=sprava.id %}'">Izmeni</button>
    </div>
{% endblock %}